.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #0bab64;
  border: 1px solid #0bab64;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #055532;
  border-color: #055532;
}
